:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
    --spartan: 'Spartan', sans-serif;
    --work-sans: 'Work Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

